
<div class="col-8 offset-2 question-box" id="question-<%= question.id %>">
	<div class="row">
		<div class="col-10 question-title">
			<h3><%= question.title %></h3>
		</div>
		<div class="col-1 question-delete">
      <%= link_to "X" , { controller: 'questions', action: 'destroy', id: question.id }, { class: 'btn btn-danger delete-question-button', method: 'delete', remote: true } %>
		</div>
	</div>
	<div class="row fill align-items-center">
		<div class="col-12 question-content">
		 	<% if(question.question_type == "Multiple Choice") %>
		      <%= render partial: 'questions/multiple_choice', locals: { question: question } %>
			<% elsif(question.question_type == "Free Response") %>
		      <%= render partial: 'questions/free_response', locals: { question: question } %>
		  <% elsif(question.question_type == "Dropdown") %>
		      <%= render partial: 'questions/dropdown', locals: { question: question } %>
			<% end %>
		</div>
	</div>
</div>