
<div class="col-10 offset-1 parent-question-display" id="question-<%= question.id %>-display">
  <div class="row no-gutters question-row-display">

    <div class="col-12">
      <div class="question-title-display" id="sequence-<%= question.sequence %>-display"><%= question.title %></div>
    </div>

  </div>

  <div class="row no-gutters align-items-center">

    <div class="col-12 question-type-display">
      <%= render partial: 'display/questions/question_types/' + question.question_type.gsub(' ', '_').downcase, locals: { question: question } if question.question_type != "" %>
    </div>
    
  </div>

</div>


<%= render partial: "display/questions/child_question", collection: question.child_questions %>
