<style>
  #survey-title-box {
 	  background-color: <%= @survey.color %>;
  }
  #survey-title, #survey-title-color {
  	color: <%= @survey.title_color %>;
  }
</style>

<div class="container-fluid fill">
	<div class="row no-gutters fill-min">

		<div class="col-8 offset-1 survey" id="survey-<%= @survey.id %>">

      <!-- Survey title box and title -->
			<div class="row no-gutters align-items-center highlight" id="survey-title-box">
					<div class="col-1" id="survey-title-color-col">
						<span id="survey-title-color" class="highlight"><%= @survey.title_color %></span>
					</div>
					<div class="col-10 highlight" id="survey-title-col">
						<div id="survey-title" ><%= @survey.title %></div>
					</div>
					<div class="col-1 highlight" id="survey-color-box">
						<div id="survey-color"><%= @survey.color %></div>
					</div>
			</div>

			<!-- Survey Description -->
			<div class="row no-gutters" id="survey-description-row">
				<div class="col-10 offset-1 highlight">
					<div class="fill-width" id="survey-description"><%=@survey.description%></div>
				</div>
			</div>
			
      <!-- Survey questions -->
			<div class="row no-gutters align-items-center" id="survey-questions">
				<%= render partial: "questions/question_box/question_box", collection: @questions, locals: { question_box_type: 'parent' } %>
			</div>
			<div class="row no-gutters align-items-center" id="new-question">
				<%= render partial: "questions//question_box/new_question_box", locals: { survey: @survey, choice_id: "none" } %>
			</div>

		</div>

		<%= render partial: "sidebar/sidebar", locals: { survey: @survey } %>
		
	</div>
</div>	
