<style>
  #survey-title-box {
 	  background-color: <%= @survey.color %>;
  }
</style>

<div class="container-fluid fill">
	<div class="row no-gutters fill-min">

		<div class="col-8 offset-1 survey" id="survey-<%= @survey.id %>">

      <!-- Survey title box and title -->
			<div class="row no-gutters align-items-center highlight" id="survey-title-box">
					<div class="col-10 offset-1 highlight">
						<div id="survey-title" ><%= @survey.title %></div>
					</div>
					<div class="col-1 highlight" id="survey-color-box">
						<div id="survey-color"><%= @survey.color %></div>
					</div>
			</div>
			
      <!-- Survey body and questions -->
			<div class="row no-gutters align-items-center" id="survey-questions">
				<%= render partial: "questions/question", collection: @survey.questions %>
			</div>
			<div class="row no-gutters align-items-center" id="new-question">
				<%= render partial: "questions/new_question", locals: {survey: @survey} %>
			</div>

		</div>

    <!-- Sidebar -->
		<div class="col-3" id="sidebar">

			<!-- Sidebar question content added dynamically -->

		</div>
		
	</div>
</div>	
