<!DOCTYPE html>
<html>
	<head>
		<title>Survey</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<!--Header-->
		<%= render "shared/header" %>

		<div class="container-fluid fill">
			<%= yield %>
		</div>	
		<!--Footer-->
		<%= render "shared/footer" %>
	
	</body>
</html>
